.container {
	-fx-background-color: #f5f5f5;
	-fx-alignment: center;
	-fx-spacing: 20;
	-fx-padding: 20;
	background-color: #f5f5f5;
	padding: 20;
}

.station-field {
	-fx-background-color: white;
	-fx-padding: 10;
	-fx-font-size: 16;
	-fx-min-width: 300;
	-fx-border-color: #ccc;
	-fx-border-width: 1;
	-fx-border-radius: 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 0);
	background-color: white;
	padding: 10;
	font-size: 16;
	min-width: 300;
	border-color: #ccc;
	border-width: 1;
	border-radius: 5;
}

.station-field:focused {
	-fx-border-color: #000000;
	-fx-border-width: 2;
	-fx-background-color: #fafafa;
	border-color: #000000;
	border-width: 2;
	background-color: #fafafa;
}

.station-field:hover {
	-fx-background-color: #f9f9f9;
	-fx-border-color: #bdbdbd;
	background-color: #f9f9f9;
	border-color: #bdbdbd;
}

.combo-box-popup {
	-fx-background-color: white;
	-fx-border-color: #ccc;
	-fx-border-radius: 5;
	-fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.15), 10, 0, 0, 0);
	background-color: white;
	border-color: #ccc;
	border-radius: 5;
}

.list-cell {
	-fx-padding: 10;
	-fx-font-size: 14;
	padding: 10;
	font-size: 14;
}

.list-cell:selected {
	-fx-background-color: #000000;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	background-color: #000000;
	font-weight: bold;
}

.list-cell:hover {
	-fx-background-color: #000000;
	background-color: #000000;
}

.station-field:disabled {
	-fx-background-color: #f0f0f0;
	-fx-border-color: #e0e0e0;
	-fx-text-fill: #9e9e9e;
	background-color: #f0f0f0;
	border-color: #e0e0e0;
}

.submit-btn {
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 0);
	-fx-text-fill: white;
	-fx-background-color: #000000;
	-fx-font-size: 14;
	-fx-padding: 10 20;
	-fx-border-radius: 5;
	background-color: #000000;
	font-size: 14;
	padding: 10 20;
	border-radius: 5;
}

.submit-btn:hover,
.submit-btn:focused {
	-fx-background-color: #45a049;
	background-color: #45a049;
}

.sidebar {
	-fx-background-color: white;
	-fx-padding: 10;
	-fx-spacing: 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
	background-color: white;
	padding: 10;
}

.swap-btn {
	-fx-background-color: transparent;
	-fx-padding: 0 0 0 0 150px;
	background-color: transparent;
	padding: 0 0 0 0 150px;
}

.swap-btn:hover {
	-fx-background-color: rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.2);
}

.swap-container {
	-fx-alignment: center;
	-fx-spacing: 20; /* Space between child nodes */
	-fx-padding: 20;
	padding: 20;
}

/* Route page */
.route {
	-fx-padding: 8px;
	padding: 8px;
}

.route:focused,
.route.selected {
	-fx-padding: 16px;
	-fx-font-weight: bold;
	padding: 16px;
	font-weight: bold;
}

.route .hbox {
	-fx-padding: 0px 0px 0px 8px;
	padding: 0px 0px 0px 8px;
}

.route .time-container {
	-fx-font-size: 24px;
	font-size: 24px;
}

.station-name {
	-fx-font-size: 16;
	-fx-font-weight: bold;
	font-size: 16;
	font-weight: bold;
}

.station-box {
	-fx-spacing: 10;
	-fx-alignment: center;
}

/* Route detail page */
.detailedRoute-container {
	-fx-background-color: #f8f9fa;
	-fx-padding: 20px;
	background-color: #f8f9fa;
	padding: 20px;
}

.detailedRoute-container .title {
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	font-size: 24px;
	font-weight: bold;
}

.detailedRoute-container .header {
	-fx-background-color: lightgray;
	-fx-padding: 10px;
	background-color: lightgray;
	padding: 10px;
}

.detailedRoute-container .header .info {
	-fx-font-size: 16px;
	font-size: 16px;
}

.detailedRoute-container .routeTransfer {
	-fx-background-color: white;
	-fx-border-color: lightgray;
	-fx-padding: 10;
	background-color: white;
	border-color: lightgray;
	padding: 10;
}

/* input container class */
.input-container {
	-fx-spacing: 5px;
}

/* login page */
.topBar {
	-fx-alignment: top-right;
	-fx-padding: 0px, 0px, 50px, 0px;
	padding: 0px, 0px, 50px, 0px;
}

.login-layoutOuter {
	-fx-spacing: 10px;
	-fx-background-color: #e8e8e8;
	-fx-alignment: center;
	background-color: #e8e8e8;
	width: 100%;
}

.login-form {
	-fx-max-width: 320px;
	-fx-fill-width: true;
	-fx-background-color: #ffffff;
	-fx-border-color: #cccccc;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-padding: 20px;
	-fx-effect: dropshadow(gaussian, rgba(52, 52, 53, 0.185), 10, 4, 0, 0);
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-spacing: 10;
	-fx-alignment: center;
	max-width: 320px;
	width: 100%;
	background-color: #ffffff;
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
	padding: 20px;
	/* FIXME: WARNING: CSS Error parsing expected series of <size> while parsing 'box-shadow' */
	/* box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185); */
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

.login-title {
	-fx-text-fill: #1a202c;
	-fx-font-size: 20px;
	-fx-text-alignment: center;
	-fx-margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
	color: #1a202c;
}

.login-label {
	-fx-text-fill: #000;
	-fx-margin-bottom: 4px;
	color: #000;
	margin-bottom: 4px;
}

.login-input {
	-fx-padding: 10px;
	-fx-fill-width: true;
	-fx-font-size: 14px;
	-fx-text-fill: #4a5568;
	-fx-border-color: #cecece;
	-fx-border-radius: 4px;
	-fx-border-style: solid;
	-fx-background-radius: 4px;
	-fx-background-insets: 0;
	-fx-margin-bottom: 20px;
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 14px;
	color: #4a5568;
	outline: none;
	border-style: solid;
	border-width: 1px;
	border-color: #cecece;
	border-radius: 4px;
	transition: all 0.2s ease-in-out;
}

.login-input:focus {
	-fx-background-color: #fff;
	-fx-effect: dropshadow(gaussian, #cbd5e0, 5, 2, 0, 0);
	background-color: #fff;
	/* FIXME: WARNING: CSS Error parsing expected series of <size> while parsing 'box-shadow' */
	/* box-shadow: 0 0 0 2px #cbd5e0; */
}

.login-input:valid {
	-fx-border-color: green;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	border-color: green;
	border-width: 1px;
	border-style: solid;
}

.login-input:invalid {
	-fx-border-color: #000;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	border-color: #000;
	border-width: 1px;
	border-style: solid;
}

.login-submit,
.login-guestLogin,
.goTo-login-page-button {
	-fx-background-color: #000;
	-fx-text-fill: #fff;
	-fx-border-color: transparent;
	-fx-border-radius: 4px;
	-fx-font-size: 16px;
	-fx-cursor: hand; /* Voor een pointer */
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0, 0, 0);
	background-color: #000;
	color: #fff;
	border-color: transparent;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.login-submit {
	-fx-padding: 10px 20px;
	padding: 10px 20px;
}

.goTo-login-page-button,
.login-guestLogin {
	-fx-padding: 5px 10px;
	padding: 5px 10px;
}

.invalid-input-label {
	-fx-text-fill: #991b1b;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-wrap-text: true;
	color: #991b1b;
	font-size: 14px;
	font-weight: bold;
	margin-top: -15px;
	word-wrap: normal;
}
